{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
<div class="container">
    <h1>Tous nos biens</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In odit possimus doloribus nostrum quidem. Officiis eos, quaerat deserunt nobis alias ipsum laboriosam fuga facere aperiam vitae! Laborum doloremque expedita corrupti?
    </p>
</div>
{% endblock %}